
$primary-font: 'Lato', sans-serif;
$header-font: 'Montserrat', sans-serif;


$desktop-size: 768px;


$black: #272a31;
$orange: #ec5242;
$gray: #d3d3d3;



$program-bg: #282b32;




$logo: '../src/img/project-logo/logo.png';


$header-bg: '../src/img/backgrounds/code-bg.jpeg';
$mobile-bg: '../src/img/backgrounds/mobile-bg.png';
$desktop-bg: '../src/img/backgrounds/desktop-bg.png';
$bg-pattern: '../src/img/backgrounds/pattern_bg.png';


$icon-1: '../src/img/icons/program_icon_01.png';
$icon-2: '../src/img/icons/program_icon_02.png';
$icon-3: '../src/img/icons/program_icon_03.png';
$icon-4: '../src/img/icons/program_icon_04.png';
$icon-5: '../src/img/icons/program_icon_05.png';

 
$microverse: '../src/img/speakers/ariel-camus-microverse.jpeg';
$airbnb: '../src/img/speakers/brian-chesky-airbnb.jpg';
$linkedin: '../src/img/speakers/jeff-weiner-linkedin.jpg';
$github: '../src/img/speakers/leadership-nat-friedman-github.jpg';
$meta: '../src/img/speakers/Mark_Zuckerberg.jpg';
$google: '../src/img/speakers/Sundar_pichai_google.png';