@import '../base/variables';

.last-section {
  height: 100px;
}

footer {
  margin-top: 0;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  h6 {
    color: black;
    font-size: 20px;
  }
}
