@import '../base/variables';

.nav-container {
  display: grid;
  grid-template-columns: 1fr 2.8fr;
  justify-content: space-around;
  align-items: center;
  @media only screen and (min-width: $desktop-size) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow:column;
    margin: 10px 15% 0 7%;
  }
  ul {
    display: none;
    @media only screen and (min-width: $desktop-size) {
     display: flex;
     list-style: none;
     column-gap: 30px;
     padding-left: 0;
    }
  }
  .hamburger {
    @media only screen and (min-width: $desktop-size) {
      display: none;
    }
  }
}