@import '../base/variables';

.top-section {
  background-color: $black;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;

    li {
      color: white;
    }

    li:nth-child(3) {
      margin-right: 50px;
    }
  }
}
